<div class="container text-center">
    <div class="row">
        <h2>Open in chat (popup-box chat-popup)</h2>
        <h4>Click Here</h4>
        <div class="round hollow text-center">
            <a href="#" id="addClass"><span class="glyphicon glyphicon-comment"></span> Open in chat </a>
        </div>

        <hr>

        MORE :
        <a target="_blank" href="http://bootsnipp.com/snippets/33ejn">Whatsapp Chat Box POPUP</a>,
        <a target="_blank" href="http://bootsnipp.com/snippets/z4P39"> Creative User Profile  </a>

    </div>
</div>


<div class="popup-box chat-popup" id="qnimate">
    <div class="popup-head">
        <div class="popup-head-left pull-left"><img src="{{friend.avatar}}" alt="iamgurdeeposahan"> {{friend.name}}</div>
        <div class="popup-head-right pull-right">

            <button data-widget="remove" id="removeClass" class="chat-header-button pull-right" type="button"><i class="glyphicon glyphicon-off"></i></button>
        </div>
    </div>
    <div class="popup-messages">
        {{#each messages}}
            <div class="direct-chat-messages">

                <div class="direct-chat-msg ">
                    <div class="direct-chat-info clearfix">
                        <span class="direct-chat-name pull-left">{{this.user.name}}</span>
                    </div>
                    <img alt="message user image" src="{{this.user.avatar}}" class="direct-chat-img">
                    <div class="direct-chat-text">
                        {{this.text}}
                    </div>
                    <div class="direct-chat-info clearfix">
                        <span class="direct-chat-timestamp pull-right">{{this.createdAt}}</span>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
    <div class="popup-messages-footer">
        <textarea id="status_message" placeholder="Type a message..." rows="15" cols="40" name="message"></textarea>
    </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<link rel="stylesheet" type="text/css" href="/css/message.css">
<script src="/js/message.js"></script>