<h1>Title : {{post.title}}</h1>

<div class="line-separator" style="margin-bottom: 20px"></div>
<h4> Content </h4>
<p>
    {{post.content}}
</p>
</br>
<h3> ANSWER </h4>

<p style="margin-bottom: 20px; margin-left: 40px"> {{#each post.answers}} </p>
<div class="line-separator" style="margin-bottom: 20px"></div>
<div style="margin-bottom: 20px; margin-left: 40px">
    <img src="{{this.user.avatar}}" class="small-avatar" alt="">

</div>
<div>
    {{this.user.name}}: {{this.text}}
</div>
: {{/each}}
<form class="form-horizontal col-xs-6 col-md-offset-3" method="post">

  <h2 class="col-md-offset-5">Anwser</h2>
    <div class="form-group">
        <label for="content" class="control-label col-xs-2">Text</label>
        <div class="col-xs-8">
            <input name="text" type="text" class="form-control" id="text" placeholder="text">
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-offset-4 col-xs-10">
            <button type="submit" class="btn btn-success">Create</button>
            <a class="btn btn-success" href="/post/">Back</a>
        </div>
    </div>

</form>
